<p id="notice"><%= notice %></p>

<h1 class="blackline">Users</h1>

<% @users.each do |user| %>
<table class="tableitems" >      
  <td class="left"><%= link_to user.username, user %></td>
  <td class="right"><%= link_to image_tag("#{user.icon}", :class => "usericon")  %></td>
</table>
<% end %>
<br>