/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import 'foundation-icons';

 .top-bar {
  background: #007095;
}

.usericon {
  width: 100px;
  height: 100px;
  border: 1px solid #007095;
}

.usericonshow {
  width: 200px;
  height: 200px;
  border: 1px solid #007095;
}

.songcover {
  height: 200px;
  width: 200px;
  border: 1px solid #007095;
}

.songcovershow {
  width: 300px;
  border: 1px solid #007095;
}

#currentuser {
  color: white;
}

#currentuser img {
  max-width: 45px;
  max-height: 45px;
  padding-top: 2px;
}

main {
  max-width: 700px;
  margin: auto;
}

.alert {
  color: white;
  background: red;
  text-align: center; 
}

#notice {
  color: white;
  background: green;
  text-align: center; 
}

 #deletecomment {
font-size: 10px;
}

footer {
  margin-top: 55px;
  padding: 25px;
  text-align: right;
  font-size: 12px;
  color: #007095;
  background: #eee;
}

.editback {
  font-style: italic;
  padding: 5px;
  background: #eee;
}

nav.usersongs li {
display: inline;
}

#about {
  max-width: 400px;
}

.showusername {
  font-size:30px;
}

.newsong {
  border-left: 3px solid gold;
  padding-left: 2px;
}

.tableitems {
width: 400px;
margin: 30px auto;
max-width: 400px;
padding: auto;
text-align: center;
}

.blackline {
  border-bottom: solid #122c4b 1px;
}

.title {
  padding: auto;
  font-size: 17px; 

}

.button .big {
  text-align: center;
}

.deleteaccount {
  border: dotted red 2px;
  text-align: center;
  margin: auto;
}

.actions {
  text-align: center;
}

#player {
max-width:300px;
margin: auto;
text-align: center;
}

p.right {
  margin: auto;
  text-align: center;
}

.commentmade {
  width: 500px; 
  padding: auto;
}

.comments {
  margin: auto;
}

.formcomment{
  width: 675px;
  margin: auto;
  text-align: center; 
}

h1, .top-bar, .showusername {
  font-family: 'Pacifico', cursive;
}